* {
  box-sizing: border-box;
}

body,html {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'IBM Plex Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#1d252c, #0b0f11);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #cfcfcf;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}